*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid red;
    padding: 50px;
    background-color: #222;
    color: #fff;
}
.container-h2{
    margin-bottom: 30px;
}
ul li{
    list-style: none;
    padding: 20px;
} 
.button{
    width: 80px;
    color: black;
    display: block;
    margin: auto;
    margin-top: 10px;
    background-color: #fff;
    font-style: italic;
}